/* CSS file placeholder. */
html, body {
    height: 100%;
    background: #f35345;
    padding:0;
    margin:0;
}

webview {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    overflow-x: scroll;
}
